<%= simple_form_for @pain do |f| %>

<% if @pain.errors.any? %>
<ul>
  <% @pain.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


        <div class="form-pain">
          标题：<br/>
          <%= f.text_field :pain_name,  class: "form-control" %>
          原因：<br/>
          <%= f.text_area :pain_cause, class: 'form-control' %>
          遗憾等级：<br/>
          <%= f.text_field :regret_level, class: "form-control" %>
          正解：<br/>
          <%= f.text_area :next_do, class: "form-control" %>
        </div>

<%= f.submit "完成", :disable_with => '提交中...' %>
<% end %>
