<section class="about-the-pain">
  <div class="flex-fix">
    <div class="container">

      <div class="col-md-12">
        <div class="pain">

          <%= link_to("我要说话", new_pain_comment_path(@pain), class: "btn btn-default pull-right")%>
          <% if current_user && current_user == @pain.user %>
            <%= link_to("修改", edit_pain_path(@pain), class: "btn btn-primary pull-right")%>
          <% end %>
        </div>
        <h3>错题名称：</h3>
        <p><%= @pain.pain_name %></p>
        <h3>错题原因：</h3>
        <p><%= markdown @pain.pain_cause %></p>
        <h3>遗憾等级：</h3>
        <p><%= @pain.regret_level %></p>
        <h3>正解：</h3>
        <p><%= markdown @pain.next_do %></p>

        <span class="pull-left">
          <% if current_user && current_user.is_member_of?(@pain) %>
            <label class="label label-success"> 已收藏 </label>
            <%= link_to("取消标记", discard_pain_path(@pain), method: :post, class: "btn btn-default") %>
          <% else %>
            <label class="label label-warning"> 未收藏 </label>
            <%= link_to("我要标记", mark_pain_path(@pain), method: :post, class: "btn btn-default") %>
          <% end %>
        </span>
        <br>

        <br>
        </br>
        <div class="heading"><h3>别人怎么看？</h3></div>
            <% @comments.each do |comment| %>
                <p><%= comment.content %></p>
            <% end %>

        <div class="text-center">
          <%= will_paginate @comments %>
        </div>
      </div>

    </div>
  </div>
</section>
